@import "assets/fonts/montserrat.css";
/*Colors*/
/* Margins */
footer section, main ul li div, main ul, header .header_logo, header .header_menu ul, header .header_menu, header .header_top .header_top_language, header .header_top .header_top_email, header .header_top .header_top_phone, header .header_top {
  display: flex;
  flex-direction: row;
}

main ul li div div, main .main_headBlock {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

a {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #2A77FF;
  cursor: pointer;
}

header {
  background: url(assets/img/background_header.png);
  height: 975px;
}
header .header_top {
  justify-content: space-between;
  align-items: center;
  margin: 0 17.96875%;
  padding-top: 42px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
header .header_top .header_top_phone {
  align-items: center;
}
header .header_top .header_top_phone img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
header .header_top .header_top_email {
  align-items: center;
}
header .header_top .header_top_email img {
  margin-right: 19px;
  width: 22px;
  height: 18px;
}
header .header_top .header_top_v-line {
  width: 1px;
  height: 20px;
  background: #2A77FF;
  margin: 0 20px;
}
header .header_top .header_top_language {
  text-transform: uppercase;
}
header .header_top .header_top_language .active {
  color: #FFFFFF;
}
header .header_top .header_top_language .active:hover {
  color: #FFFFFF;
  cursor: pointer;
}
header .header_top .header_top_language .active {
  color: #2A77FF;
}
header .header_line {
  background: #4553A1;
  height: 1px;
  margin: 40px 17.96875%;
}
header .header_menu {
  justify-content: center;
}
header .header_menu li {
  list-style-type: none;
  margin: 0 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
}
header .header_logo {
  justify-content: center;
  align-items: center;
  margin-top: 211px;
}
header .headerBottom {
  background: url(assets/img/backgroundBottom.png);
  margin-top: 230px;
  height: 220px;
}

main .main_headBlock {
  align-items: center;
}
main .main_headBlock h1 {
  font-size: 48px;
  line-height: 59px;
}
main .main_headBlock .main_headBlock_line {
  width: 180px;
  height: 1px;
  background: #2A77FF;
  margin: 40px 0;
}
main ul {
  flex-wrap: wrap;
  justify-content: center;
}
main ul li {
  list-style-type: none;
  margin: 0 30px 80px 0;
}
main ul li div img {
  margin-right: 30px;
}
main ul li div div {
  width: 390px;
}
main ul li:nth-child(2n) {
  margin-top: 58px;
}

footer {
  background: url(assets/img/background_footer.png);
  height: 690px;
}
footer .footer_top {
  background: url(assets/img/footer_top.png);
  height: 220px;
}
footer section {
  justify-content: center;
}
footer section div {
  width: 600px;
  height: 319px;
  margin: 50px 0 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
footer section div img {
  width: 285px;
  height: 65px;
}
footer section img {
  width: 663px;
  height: 674px;
  margin-top: -170px;
}
footer .footer_bottom {
  background: url(assets/img/footer_bottom.png);
  height: 220px;
  margin-top: -220px;
}
footer .footer_superBottom {
  background: url("assets/img/footer_superBottom.png");
  height: 160px;
  margin-top: -160px;
}

/*# sourceMappingURL=style.css.map */
