@import "assets/fonts/montserrat.css";

/*Colors*/
$blue-color: #2A77FF;
$white-color: #FFFFFF;
$light-blue-color: #4553A1;

/* Margins */
$main-margin: 345px / 1920px * 100%;

%display-flex-FD-Row {
  display: flex;
  flex-direction: row;
}

%display-flex-FD-Column {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

a {
  color: $white-color;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: $blue-color;
  cursor: pointer;
}

header {
  background: url(assets/img/background_header.png);
  height: 975px;

  .header_top {
    @extend %display-flex-FD-Row;
    justify-content: space-between;
    align-items: center;
    margin: 0 $main-margin;
    padding-top: 42px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    .header_top_phone {
      @extend %display-flex-FD-Row;
      align-items: center;

      img {
        margin-right: 10px;
        width: 24px;
        height: 24px;
      }
    }

    .header_top_email {
      @extend %display-flex-FD-Row;
      align-items: center;

      img {
        margin-right: 19px;
        width: 22px;
        height: 18px;
      }
    }

    .header_top_v-line {
      width: 1px;
      height: 20px;
      background: $blue-color;
      margin: 0 20px;
    }

    .header_top_language {
      @extend %display-flex-FD-Row;
      text-transform: uppercase;

      .active {
        color: $white-color;
      }

      .active:hover {
        color: $white-color;
        cursor: pointer;
      }

      .active {
        color: $blue-color;
      }
    }
  }

  .header_line {
    background: $light-blue-color;
    height: 1px;
    margin: 40px $main-margin;
  }

  .header_menu {
    @extend %display-flex-FD-Row;
    justify-content: center;

    ul {
      @extend %display-flex-FD-Row;
    }

    li {
      list-style-type: none;
      margin: 0 10px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.01em;
    }
  }

  .header_logo {
    @extend %display-flex-FD-Row;
    justify-content: center;
    align-items: center;
    margin-top: 211px;
  }

  .headerBottom {
    background: url(assets/img/backgroundBottom.png);
    margin-top: 230px;
    height: 220px;
  }
}

main {

  .main_headBlock {
    @extend %display-flex-FD-Column;
    align-items: center;

    h1 {
      font-size: 48px;
      line-height: 59px;
    }

    .main_headBlock_line {
      width: 180px;
      height: 1px;
      background: $blue-color;
      margin: 40px 0;
    }
  }

  ul {
    @extend %display-flex-FD-Row;
    flex-wrap: wrap;
    justify-content: center;

    li {
      list-style-type: none;
      margin: 0 30px 80px 0;

      div {
        @extend %display-flex-FD-Row;

        img {
          margin-right: 30px;
        }

        div {
          @extend %display-flex-FD-Column;
          width: 390px;
        }
      }
    }

    li:nth-child(2n) {
      margin-top: 58px;
    }
  }
}



footer {
  background: url(assets/img/background_footer.png);
  height: 690px;

  .footer_top {
    background: url(assets/img/footer_top.png);
    height: 220px;
  }

  section {
    @extend %display-flex-FD-Row;
    justify-content: center;

    div {
      width: 600px;
      height: 319px;
      margin: 50px 0 0 0;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      color: $white-color;

      img {
        width: 285px;
        height: 65px;
      }
    }

    img {
      width: 663px;
      height: 674px;
      margin-top: -170px;
    }
  }

  .footer_bottom {
    background: url(assets/img/footer_bottom.png);
    height: 220px;
    margin-top: -220px;
  }
  .footer_superBottom {
    background: url("assets/img/footer_superBottom.png");
    height: 160px;
    margin-top: -160px;
  }
}