@import "assets/fonts/montserrat.css";

/*Colors*/
$blue-color: #2A77FF;
$white-color: #FFFFFF;
$light-blue-color: #4553A1;
$red-color: #FF391B;
$deep-blue-color: rgba(20, 1, 81, 0.5);

/* Margins */
$main-margin: 345px / 1920px * 100%;

%display-flex-FD-Row {
  display: flex;
  flex-direction: row;
}

%display-flex-FD-Column {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

a {
  color: $white-color;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: $blue-color;
  cursor: pointer;
}

header {
  background: url(assets/img/background_header.png);
  height: 965px;

  .header_top {
    @extend %display-flex-FD-Row;
    justify-content: space-between;
    align-items: center;
    margin: 0 $main-margin;
    padding-top: 42px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    .header_top_phone {
      @extend %display-flex-FD-Row;
      align-items: center;

      img {
        margin-right: 10px;
        width: 24px;
        height: 24px;
      }
    }

    .header_top_email {
      @extend %display-flex-FD-Row;
      align-items: center;

      img {
        margin-right: 19px;
        width: 22px;
        height: 18px;
      }
    }

    .header_top_v-line {
      width: 1px;
      height: 20px;
      background: $blue-color;
      margin: 0 20px;
    }

    .header_top_language {
      @extend %display-flex-FD-Row;
      text-transform: uppercase;

      .active {
        color: $white-color;
      }

      .active:hover {
        color: $white-color;
        cursor: pointer;
      }

      .active {
        color: $blue-color;
      }
    }
  }

  .header_line {
    background: $light-blue-color;
    height: 1px;
    margin: 40px $main-margin;
  }

  .header_logo {
    @extend %display-flex-FD-Row;
    justify-content: center;
    align-items: center;
    margin-top: 211px;
  }

  .headerBottom {
    background: url(assets/img/backgroundBottom.png);
    margin-top: 230px;
    height: 220px;
  }
}

main {

  .octa_01 {
    position: absolute;
    top: 1332px;
  }

  .octaRight {
    display: flex;
    justify-content: end;
    .octa_02 {
      position: absolute;
      right: 0;
      top: 1524px;
    }
    .octa_03 {
      position: absolute;
      right: 0;
      top: 706px;
    }
  }

  .main_headBlock {
    @extend %display-flex-FD-Column;
    align-items: center;

    h1 {
      font-size: 48px;
      line-height: 59px;
    }

    .main_headBlock_line {
      width: 180px;
      height: 1px;
      background: $blue-color;
      margin: 40px 0;
    }
  }

  ul {
    @extend %display-flex-FD-Row;
    flex-wrap: wrap;
    justify-content: center;

    li {
      list-style-type: none;
      margin: 0 30px 80px 0;

      div {
        @extend %display-flex-FD-Row;

        img {
          margin-right: 30px;
        }

        div {
          @extend %display-flex-FD-Column;
          width: 390px;
        }
      }
    }

    li:nth-child(2n) {
      margin-top: 58px;
    }
  }
}

footer {
  background: url(assets/img/background_footer.png);
  height: 690px;

  .footer_top {
    background: url(assets/img/footer_top.png);
    height: 220px;
  }

  section {
    @extend %display-flex-FD-Row;
    justify-content: center;
    margin: 0 0 0 30px;

    div {
      width: 600px;
      height: 319px;
      margin: 50px 0 0 0;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      color: $white-color;

      img {
        width: 285px;
        height: 65px;
      }
    }

    img {
      width: 663px;
      height: 674px;
      margin-top: -170px;
    }
  }

  .footer_bottom {
    background: url(assets/img/footer_bottom.png);
    height: 220px;
    margin-top: -220px;
  }

  .footer_superBottom {
    background: url("assets/img/footer_superBottom.png");
    height: 160px;
    margin-top: -160px;
  }
}

/* menu styles */

#mainMenu {padding: 0; margin: 0; border: 0;}
#mainMenu ul, #mainMenu li {list-style: none; margin: 0; padding: 0;}
#mainMenu ul {position: relative; z-index: 597; }
#mainMenu ul li { float: left; min-height: 1px; vertical-align: middle;}
#mainMenu ul li.hover, #mainMenu ul li:hover {position: relative; z-index: 599; cursor: default;}
#mainMenu ul ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%;}
#mainMenu ul ul li {float: none;}
#mainMenu ul ul ul {top: 0; left: auto; right: -99.5%; }
#mainMenu ul li:hover > ul { visibility: visible;}
#mainMenu ul ul {bottom: 0; left: 0;}
#mainMenu ul ul {margin-top: 0; }
#mainMenu ul ul li {font-weight: normal;}
#mainMenu a { display: block; line-height: 1em; text-decoration: none; }

.header_menu {
  @extend %display-flex-FD-Row;
  justify-content: center;
}

#mainMenu {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

#mainMenu > ul { *display: inline-block; }

#mainMenu:after, #mainMenu ul:after {
  display: block;
  clear: both;
}

#mainMenu a {
  color: $white-color;
  padding: 0 10px;
}

#mainMenu ul ul {
  text-transform: none;
  min-width: 190px;
}

#mainMenu ul ul a {
  background: $deep-blue-color;
  color: $white-color;
  border-top: 0 none;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

#mainMenu ul ul ul { border-top: 0 none; }

#mainMenu ul ul ul a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}


#mainMenu ul ul li { position: relative }

#mainMenu > ul > li > a { line-height: 42px;  }

#mainMenu ul ul li:last-child > a {
  border-radius: 0 0 3px 3px;
}
#mainMenu ul ul li:last-child:hover > a { border-radius: 0 0 0 3px; }

#mainMenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}

#mainMenu ul li:hover > a, #mainMenu ul li.active > a {
  color: $red-color;
}
#mainMenu ul li.has-sub > a:after {
  margin-left: 5px;
}
#mainMenu ul li.last ul {
  left: auto;
  right: 0;
}
#mainMenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}