@import "assets/fonts/montserrat.css";
/*Colors*/
/* Margins */
.header_menu, footer section, main ul li div, main ul, header .header_logo, header .header_top .header_top_language, header .header_top .header_top_email, header .header_top .header_top_phone, header .header_top {
  display: flex;
  flex-direction: row;
}

main ul li div div, main .main_headBlock {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

a {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #2A77FF;
  cursor: pointer;
}

header {
  background: url(assets/img/background_header.png);
  height: 965px;
}
header .header_top {
  justify-content: space-between;
  align-items: center;
  margin: 0 17.96875%;
  padding-top: 42px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
header .header_top .header_top_phone {
  align-items: center;
}
header .header_top .header_top_phone img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
header .header_top .header_top_email {
  align-items: center;
}
header .header_top .header_top_email img {
  margin-right: 19px;
  width: 22px;
  height: 18px;
}
header .header_top .header_top_v-line {
  width: 1px;
  height: 20px;
  background: #2A77FF;
  margin: 0 20px;
}
header .header_top .header_top_language {
  text-transform: uppercase;
}
header .header_top .header_top_language .active {
  color: #FFFFFF;
}
header .header_top .header_top_language .active:hover {
  color: #FFFFFF;
  cursor: pointer;
}
header .header_top .header_top_language .active {
  color: #2A77FF;
}
header .header_line {
  background: #4553A1;
  height: 1px;
  margin: 40px 17.96875%;
}
header .header_logo {
  justify-content: center;
  align-items: center;
  margin-top: 211px;
}
header .headerBottom {
  background: url(assets/img/backgroundBottom.png);
  margin-top: 230px;
  height: 220px;
}

main .octa_01 {
  position: absolute;
  top: 1332px;
}
main .octaRight {
  display: flex;
  justify-content: end;
}
main .octaRight .octa_02 {
  position: absolute;
  right: 0;
  top: 1524px;
}
main .octaRight .octa_03 {
  position: absolute;
  right: 0;
  top: 706px;
}
main .main_headBlock {
  align-items: center;
}
main .main_headBlock h1 {
  font-size: 48px;
  line-height: 59px;
}
main .main_headBlock .main_headBlock_line {
  width: 180px;
  height: 1px;
  background: #2A77FF;
  margin: 40px 0;
}
main ul {
  flex-wrap: wrap;
  justify-content: center;
}
main ul li {
  list-style-type: none;
  margin: 0 30px 80px 0;
}
main ul li div img {
  margin-right: 30px;
}
main ul li div div {
  width: 390px;
}
main ul li:nth-child(2n) {
  margin-top: 58px;
}

footer {
  background: url(assets/img/background_footer.png);
  height: 690px;
}
footer .footer_top {
  background: url(assets/img/footer_top.png);
  height: 220px;
}
footer section {
  justify-content: center;
  margin: 0 0 0 30px;
}
footer section div {
  width: 600px;
  height: 319px;
  margin: 50px 0 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
footer section div img {
  width: 285px;
  height: 65px;
}
footer section img {
  width: 663px;
  height: 674px;
  margin-top: -170px;
}
footer .footer_bottom {
  background: url(assets/img/footer_bottom.png);
  height: 220px;
  margin-top: -220px;
}
footer .footer_superBottom {
  background: url("assets/img/footer_superBottom.png");
  height: 160px;
  margin-top: -160px;
}

/* menu styles */
#mainMenu {
  padding: 0;
  margin: 0;
  border: 0;
}

#mainMenu ul, #mainMenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainMenu ul {
  position: relative;
  z-index: 597;
}

#mainMenu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}

#mainMenu ul li.hover, #mainMenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#mainMenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}

#mainMenu ul ul li {
  float: none;
}

#mainMenu ul ul ul {
  top: 0;
  left: auto;
  right: -99.5%;
}

#mainMenu ul li:hover > ul {
  visibility: visible;
}

#mainMenu ul ul {
  bottom: 0;
  left: 0;
}

#mainMenu ul ul {
  margin-top: 0;
}

#mainMenu ul ul li {
  font-weight: normal;
}

#mainMenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}

.header_menu {
  justify-content: center;
}

#mainMenu {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

#mainMenu > ul {
  *display: inline-block;
}

#mainMenu:after, #mainMenu ul:after {
  display: block;
  clear: both;
}

#mainMenu a {
  color: #FFFFFF;
  padding: 0 10px;
}

#mainMenu ul ul {
  text-transform: none;
  min-width: 190px;
}

#mainMenu ul ul a {
  background: rgba(20, 1, 81, 0.5);
  color: #FFFFFF;
  border-top: 0 none;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

#mainMenu ul ul ul {
  border-top: 0 none;
}

#mainMenu ul ul ul a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

#mainMenu ul ul li {
  position: relative;
}

#mainMenu > ul > li > a {
  line-height: 42px;
}

#mainMenu ul ul li:last-child > a {
  border-radius: 0 0 3px 3px;
}

#mainMenu ul ul li:last-child:hover > a {
  border-radius: 0 0 0 3px;
}

#mainMenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}

#mainMenu ul li:hover > a, #mainMenu ul li.active > a {
  color: #FF391B;
}

#mainMenu ul li.has-sub > a:after {
  margin-left: 5px;
}

#mainMenu ul li.last ul {
  left: auto;
  right: 0;
}

#mainMenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}

/*# sourceMappingURL=style.css.map */
